Repository Morpheus-Fatec/API_4S_Visiona_PolygonEditor, pull requests merged in 2025-04, with the labels that each got.

#44 [Doc] Melhorias e correções nas documentações (#26, #27 e #28)
  Business Process Model (bpm).drawio
  README.md
  documentation/Developing-planning.md
  documentation/backlog.md
  documentation/database/banco.sql
  documentation/database/diagrama_ER.png
  documentation/fluxos/state-flow.drawio.png
  documentation/fluxos/user_flow.drawio.png
  documentation/images/BurndownSprint2.png
  documentation/manuals/BigTiff para TIFF.md
  documentation/sprints-planning.md
Labels: Documentation, [zube]: In Review, Improve

#45 docs (#25) [E, F, G H, K] Wireframes de Telas Faltantes
  documentation/wireframe/fluxo-culturas.svg
  documentation/wireframe/fluxo-fazenda.svg
  documentation/wireframe/fluxo-leituras.svg
  documentation/wireframe/fluxo-solos.svg
  documentation/wireframe/fluxo-usuario.svg
Labels: [zube]: In Review

#49 Chore: [A, B, E, F, H, I, J] Revisão do Banco de Dados (#48)
  README.md
  documentation/database/DER Demeter - Notação Chen.png
  documentation/database/DER Demeter - Notação Crow’s Foot.png
  documentation/database/banco.sql
  documentation/database/diagrama_ER.png
Labels: Database, [zube]: In Review, Improve

#52 [fix] (#51): Retirando constraints da fazenda e do talhão que estavam fora do escopo.
  documentation/database/banco.sql
Labels: Architecture, [zube]: In Review

#53 Integração Funcionalidades Sprint 2 #41
  README.md
  documentation/Developing-planning.md
  documentation/database/entity_description.md
  documentation/flows/field/field_state_flow.md
  documentation/flows/field/field_state_flow.png
  documentation/flows/user/user_flow.md
  documentation/flows/user/user_flow.png
  documentation/sprints-planning.md
Labels: Documentation, [zube]: In Review

#54 Entrega Sprint 2
  Business Process Model (bpm).drawio
  README.md
  banco.sql
  documentation/Developing-planning.md
  documentation/backlog.md
  documentation/database/DER Demeter - Notação Chen.png
  documentation/database/DER Demeter - Notação Crow’s Foot.png
  documentation/database/banco.sql
  documentation/database/entity_description.md
  documentation/flows/field/field_state_flow.md
  documentation/flows/field/field_state_flow.png
  documentation/flows/user/user_flow.md
  documentation/flows/user/user_flow.png
  documentation/images/BurndownSprint2.png
  documentation/manuals/BigTiff para TIFF.md
  documentation/sprints-planning.md
  documentation/wireframe/fluxo-culturas.svg
  documentation/wireframe/fluxo-fazenda.svg
  documentation/wireframe/fluxo-leituras.svg
  documentation/wireframe/fluxo-solos.svg
  documentation/wireframe/fluxo-usuario.svg
Labels: Documentation, [zube]: In Review
